<div class="col-sm-offset-2 col-md-8">
  <div class="row panel panel-default">
    <div class="panel-heading">
      <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-xs btn-default pull-right'%>
      <div class="panel-title">
        Products
      </div>
    </div>
    <div class="panel-body">
      <table  class="table table-bordered">  
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Details</th>
            <th>Product No</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |l| %> 
            <tr>
              <td><p><%= l.product_name %></p></td>
              <td><p><%= l.product_details %></p></td>
              <td><p><%= l.product_no %></p></td> 
              <td><p><%= l.category.try(:name) %></p></td>
              <td><p><%= l.brand.try(:name) %></p></td>
              <td>
                <%= link_to 'Edit', edit_admin_product_path(l), class: 'btn btn-default btn-xs' %>
                <%= link_to 'Delete', admin_product_path(l), class: 'btn btn-default btn-xs', method: :delete %>
                <%= link_to 'Show', admin_product_path(l), class: 'btn btn-default btn-xs'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <ul class="col-md-offset-4 col-md-12">
        <%= paginate @products %>
      </ul>
    </div>
  </div>
</div>
    