<div class="container">
  <div class="content-top col-md-offset-1">
    <% if @products.present? %>
      <% @products.each_slice(5) do |products| %>
        <div class="grid-in">
          <% products.each do |l| %>
            <%= link_to product_path(l) do %>      
              <div class="col-md-2 col-sm-2">
                <ul class="thumbnail"><%= image_tag l.avatar.url(:thumb), style: 'height: 150px;' 'width:150px;'%>
                </ul>
                <p><%= l.product_name %></p>
                <p><strong><%= l.product_details %></strong></p>
              </div>
            <% end -%>
          <% end -%>
          <div class="clearfix"> </div>
        </div>
      <%end%>
    <% else %>
      <p><strong>No Results Found</strong></p>
    <% end -%> 
  </div>
  <ul class="col-md-offset-5 col-md-12">
    <%= paginate @products %>
  </ul>
</div>