<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @high.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @high.score %>
</p>

<%= link_to 'Edit', edit_high_path(@high) %> |
<%= link_to 'Back', highs_path %>
